body {
    background-image: url("https://img.freepik.com/foto-gratis/hojas-papel-color-naranja_23-2148320424.jpg?w=1060");
    background-color: $amarillito;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}