.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: ridge $naranjita;
    background-image: map-get($map: $estilosFooter, $key: fondo);
    color: $naranjita;

    .bi-whatsapp {
        font-size: map-get($map: $estilosFooter, $key: taFuente);
        color: $naranjita;
        margin-left: map-get($map: $estilosFooter, $key: margen);
        margin-right: map-get($map: $estilosFooter, $key: margen);
    }

    .bi-instagram {
        font-size: map-get($map: $estilosFooter, $key: taFuente);
        color: $naranjita;
    }

    .bi-geo-alt-fill {
        font-size: map-get($map: $estilosFooter, $key: taFuente);
        margin-left: map-get($map: $estilosFooter, $key: margen);
        margin-right: map-get($map: $estilosFooter, $key: margen);
        color: $naranjita;
    }
}
