.mainIndex {
    display: flex;
    padding: 3rem;

    .indexArticle {
        padding-top: 2rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        width: 100%;
        border: outset $naranjita;
        font-family: map-get($map: $estilosIndex, $key: fuente);
        font-size: map-get($map: $estilosIndex, $key: tFuente );
        letter-spacing: 1.5px;
        text-align: map-get($map: $estilosIndex, $key: centrado);
        line-height: 1.6;
        text-shadow: map-get($map: $estilosIndex, $key: tSombra);
        box-shadow: -14px 10px 38px -1px rgba(0,0,0,0.62);
        -webkit-box-shadow: -14px 10px 38px -1px rgba(0,0,0,0.62);
        -moz-box-shadow: -14px 10px 38px -1px rgba(0,0,0,0.62);

        &:hover {
            background-color: #252422;
            color: $naranjita;
            transition: 1s;
            text-shadow: none;
        }

        iframe {
            margin-top: 1rem;
            margin-bottom: 2rem;
            padding: 1rem;
            width: 80%;
        }
    }
}

.mainIndex2 {

    .indexImg {
        @include sizes (45rem, 1rem, 1rem);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .locrito {
            animation-name: locrardo;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-delay: 1s;
            animation-direction: alternate;
        }
       
        @keyframes locrardo {
            0% {transform: rotate(25deg);}
            100% {transform: rotate(-20deg);}
        } 
      
    }

    .indexPubli {
        @extend %publi;
    }
}
