.mainIndex {
    display: flex;
    padding: 3rem;

    .indexArticle {
        padding-top: 2rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        margin-bottom: 5rem;
        width: 100%;
        border: outset $naranjita;
        font-family: 'Bebas Neue', cursive;
        font-size: 2em;
        letter-spacing: 1.5px;
        text-align: center;
        line-height: 1.6;
        text-shadow: .5px .5px 1.2px black;
        box-shadow: -14px 10px 38px -1px rgba(0,0,0,0.62);
        -webkit-box-shadow: -14px 10px 38px -1px rgba(0,0,0,0.62);
        -moz-box-shadow: -14px 10px 38px -1px rgba(0,0,0,0.62);

        &:hover {
            background-color: #252422;
            color: $naranjita;
            transition: 1s;
            text-shadow: none;
        }

        iframe {
            margin-top: 1rem;
            margin-bottom: 2rem;
            padding: 1rem;
            width: 80%;
        }
    }

    .indexImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .cocinera {
            animation-name: cocinera;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-delay: 1s;
            animation-direction: alternate;
        }

        @keyframes cocinera {
            0% {transform: rotate(25deg);}
            100% {transform: rotate(-20deg);}
        } 
    }

    .indexPubli {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-end;
        font-style: italic;
        font-weight: bolder;
        font-family: 'Roboto Condensed', sans-serif;
    }
}

@media screen and (max-width: 1215px) {
    .mainIndex .indexPubli {
        align-items: center;
    }
}