$estilosIndex: (
    fuente: 'Bebas Neue', 
    centrado: center,
    tFuente: 2em,
    tSombra: 0.5px .5px 1.2px black
);

$estilosFooter: ( 
    fondo: linear-gradient(to bottom, #000000, #141414, #1e1f1f, #2a2c2e, #3a3c3a),
    taFuente: 25px,
    margen: 10px
);
