.productContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .mainSectionProduct {
        width: 100%;
      
        .mainSectionProduct__title {
            display: flex;
            justify-content: center;
            letter-spacing: 5px;
            text-align: center;
            width: 100%;
            text-shadow: 0.5px 0.5px 1px black;
            margin-top: 3rem;
            margin-bottom: 4rem;
        }

        .varieties {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 1rem;
            gap: 20px;

            .cards {
                background-color: #000;
                color: $naranjita;
                padding: 10px;

                .card-body {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    text-align: center;
                    line-height: 1.8;

                    .card-title {
                        text-align: center;
                        font-style: italic;
                    }
                }
            }
        }
    }

    .mainSectionProduct2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        margin: 1rem;
        gap: 5px;

        .mainSectionProduct2__title {
            text-align: center;
            letter-spacing: 5px;
            margin-right: 3rem;
            margin-top: 2rem;
            margin-bottom: 4rem;
            text-shadow: 0.5px 0.5px 1px black;
        }
    }
}


@media screen and (max-width: 865px) {
    .card-body {
        flex-direction: column;
    }
}
