* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://img.freepik.com/foto-gratis/hojas-papel-color-naranja_23-2148320424.jpg?w=1060");
    background-color: #D6B718;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

.bodyPages {
    background-image: url(../assets/pagesbackground.png);
}

body::-webkit-scrollbar {
    width:7px;
    background-color: rgb(26, 26, 26);
}

body::-webkit-scrollbar-thumb {
    background: #D6B718;
    border-radius: 5px;
}

/* Header en comun */

.header {
    border-bottom: ridge #f48c06;
    background-image: url(../assets/corn.png), linear-gradient(to bottom, #e85d04, #f48c06, #faa307, #ffba08);
    background-size: contain;
}

@media screen and (min-width: 992px)  {
    .header img {
        margin-left: 5rem;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header__listaDeNavegacion {
    list-style-type: none;
    width: 40rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

 ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
    transition: 0.6s;
    width: 100%;
    color: #000;
}

ul li a:hover {
    background-color: #252422;
    color: #ffa500;
}

/* Body de index */

.mainIndex {
    display: flex;
    padding: 3rem;
}

.indexArticle {
    padding-top: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 5rem;
    width: 100%;
    border: outset #ffa500;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    letter-spacing: 1.5px;
    text-align: center;
    line-height: 1.6;
    text-shadow: .5px .5px 1.2px black;
    box-shadow: -14px 10px 38px -1px rgba(0,0,0,0.62);
    -webkit-box-shadow: -14px 10px 38px -1px rgba(0,0,0,0.62);
    -moz-box-shadow: -14px 10px 38px -1px rgba(0,0,0,0.62);
}

.indexArticle:hover {
    background-color: #252422;
    color: #ffa500;
    transition: 1s;
    text-shadow: none;
}

.indexArticle iframe {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 80%;
}

.indexImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cocinera {
    animation-name: cocinera;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
}

@keyframes cocinera {
    0% {transform: rotate(25deg);}
    100% {transform: rotate(-20deg);}
} 

.indexPubli {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Body de pagina Contact */

.mainContentContact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Inicio de media querie para pagina Contact */

@media screen and (max-width: 648px)  {
    .mainContentContact {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .mainContentContact__contenido1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        font-size: 0.8rem;
    }

    .mainContentContact__contenido1 .mainContentContact__aside {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .mainContentContact__contenido2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .mainContentContact__contenido2 form {
        width: 100vw;
    }

    .mainContentContact__contenido2 form textarea {
        width: 100%;
    }

    .contactFooter {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        margin-top: 10rem;
        margin-bottom: 1rem;
    }
}

/* Fin de media querie */

.mainContentContact__contenido1 h3 {
    display: flex;
    justify-content: center;
    border: double black;
    position: relative;
    top: 4rem;
    letter-spacing: 3.5px;
    background-color: #252422;
    color: #ffa500;
}

.mainContentContact__contenido2 h3 {
    display: flex;
    justify-content: center;
    border: double black;
    position: relative;
    top: 1.5rem;
    letter-spacing: 5px;
    background-color: #252422;
    color: #ffa500;
}

.mainContentContact__contenido2 form {
    margin-top: 6rem;
    border: ridge #ffa500;
    padding: 15px;
    line-height: 1.2;
    font-weight: bolder;
    font-style: oblique;
    box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
}

.mainContentContact__aside {
    width: 35rem;
    height: 100%;
    border: inset #ffa500;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 2.2px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1rem;
    margin-top: 5.3rem;
    background-image: linear-gradient(to top, #e85d04, #f48c06, #faa307, #ffba08);
    box-shadow: -14px 1px 65px 13px rgba(0,0,0,0.34);
    -webkit-box-shadow: -14px 1px 65px 13px rgba(0,0,0,0.34);
    -moz-box-shadow: -14px 1px 65px 13px rgba(0,0,0,0.34);
}


/* Body de pagina Products */

.productContainer {
    display: grid;
    grid-template-areas: 
    "mainSectionProduct mainSectionProduct mainSectionProduct productPubli"
    "mainSectionProduct mainSectionProduct mainSectionProduct productPubli"
    "mainSectionProduct2 mainSectionProduct2 mainSectionProduct2 productPubli"
    "mainSectionProduct2 mainSectionProduct2 mainSectionProduct2 productPubli"
    "footer footer footer productPubli";
    grid-template-columns: 1fr;
    padding: 1em;
    margin: 1em;
    height: 100%;
}

/* Inicio media querie para pagina Products */

@media screen and (max-width: 648px)  {
    .productContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .mainSectionProduct {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .mainSectionProduct .varieties {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .mainSectionProduct .varieties h4 {
        transform: none;
    }

    .mainSectionProduct .varieties ol,ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainSectionProduct2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }

    .mainSectionProduct2__title {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .productPubli {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        border: ridge #ffa500;
    }

    .productFooter {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
    }
}

/* Fin de media querie */

.mainSectionProduct {
    grid-area: mainSectionProduct;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
}

.mainSectionProduct__title {
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    width: 100%;
}

.mainSectionProduct .varieties {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
}

.varieties h4 {
    font-size: 1rem;
    border: outset 02px #ffa500;
    border-radius: 40px;
    padding: 0.4rem;
    text-align: center;
    margin: 1.5rem;
    width: 40%;
    transform: translate(24vw, 0);
    transition: 0.5s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.varieties h4:hover {
    background-color: #252422;
    color: #ffa500;
    transform: skew(25deg, 172deg);
}

.varieties ol,
ul {
    list-style: none;
    font-style: oblique;
    line-height: 2;
}

.varieties #conCarne {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin: 1rem;
    margin-top: 2rem;

}

.varieties #sinCarne {
    display: flex; 
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
    margin-top: 2rem;
}

.varieties #trigo, 
#maiz,
#porotos {
    padding: 2px;
    text-transform: capitalize;
    font-weight: bolder;
}

.mainSectionProduct2 {
    grid-area: mainSectionProduct2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: ridge #ffa500; 
    padding: 1.5rem;
    margin: 1rem;
    gap: 5px;
}

.mainSectionProduct2__title {
    text-align: center;
    letter-spacing: 5px;
    margin-right: 3rem;
    margin-top: 2rem;
}

.mainSectionProduct2__table {
    width: 80%;
    font-weight: bolder;
    font-style: oblique;
    border: ridge #ffa500;
    margin-top: 2rem;
}

.productPubli {
    grid-area: productPubli;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: ridge #ffa500;
    padding-left: 1rem;
    font-style: oblique;
    font-weight: bolder;
}

/* Body de pagina Gallery */

.mainSectionGallery__title {
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

/* Body de pagina About Us */

.mainAboutUs {
    display: flex;
    align-items: center;
    padding: 3rem;
    padding-left: 6rem;
}

@media screen and (max-width: 768px) {
    .mainAboutUs {
        padding-left: 3rem;
    }
}

.mainSectionAboutus__contenido {
    color: #252422;
    background-color: #ffa500;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.1vw;
    border: outset #ffa500;
    width: 100%;
    box-shadow: 12px 10px 20px 0px rgba(0,0,0,0.74);
    -webkit-box-shadow: 12px 10px 20px 0px rgba(0,0,0,0.74);
    -moz-box-shadow: 12px 10px 20px 0px rgba(0,0,0,0.74);
}
.mainSectionAboutus__contenido:hover {
    color: #ffa500;
    background-color: #252422;
}

.mainSectionAboutus__contenido h2 {
    text-align: center;
    padding-top: 10px;
}

 .mainSectionAboutus__img {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* Footer en comun */

.footer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: ridge #f48c06;
    background-image: linear-gradient(to bottom, #000000, #141414, #1e1f1f, #2a2c2e, #3a3c3a);
    color: #f48c06;
}

.bi-whatsapp {
    font-size: 25px;
    color: #f48c06;
    margin-left: 10px;
    margin-right: 10px;
}

.bi-instagram {
    font-size: 25px;
    color: #f48c06;
}

.bi-geo-alt-fill {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    color: #f48c06;
}